:root {
  --primary-color: #3b536b;
  --secondary-color: #9ea6a2;
  --text-color: rgb(248, 242, 242);
}

*{
    margin: 0;
    box-sizing: border-box;
    border: 0 ;
    font-family: "Alice", serif;
  }
  
  .maincontainer{
    padding-left: 10%;
    padding-right: 10%;
  
  }

.title{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 70px 0 30px;
    color:#072474;
  }
  
  .title h3{
    font-size: 2.1rem;
    color: black;  
    font-weight: 600;
  }

/* NAVBAR CSS */

nav{
    width: 100%;
    background: var(--primary-color);
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 30;
    border: 1px dotted #7b7676;
    
}

.logos {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    
}

.logos span {
    margin-left: 10px;
    color: #eff1f3;
    max-width: 120px;
}

.logoss{
    width: 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 18px;
    font: 500;
    cursor: pointer;
    text-decoration: none;

}

nav ul li a {
    text-decoration: none;
    color: #eff1f3;
}

.btn{
    background-color: rgb(239, 182, 113);
    color: black;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    display: none;
}


/* footer css */
.footer {
  
  margin-top: 50px;
  text-align: center;
  padding: 2px 15px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 15%
}

.footer-content-left img{
  width: 90px;
}


.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px

}

.footer-content-left, .footer-content-center, .footer-content-right{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

}

.footer-content-left li, .footer-content-center li, .footer-content-right li{
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;

}

.logos img{
  width: 45px;
}

.footer-content-center h2, .footer-content-right h2{
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: 600;

}

.footer-social-icons img{
  width: 40px;
  margin-right: 13px;
}

.footer hr{
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: grey;
  border: none;
}
  

/* --------------------------------- */
@media (max-width: 1000px){
    .btn{
        padding:10px 17px;
    }

    nav ul li{
        margin: 10px 15px;
    }

}

@media (max-width: 870px){
     /* for the menu-bar now */
    nav{
        padding: 15px 0;
    }

    .logoss{
        width: 35px;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: 0; /*changing the px of the right side bar to -280px is what will make it disappear from the screen but we will do that dynamically when the button is click the menu button*/
        bottom: 0;
        background-color: #15253a;
        z-index: -1;
        width: 250px;
        padding-top: 70px;
        transition: 0.5s;
        
    }

    nav ul li{
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 25px 20px;
        color: aliceblue

    }
    
    nav ul li a{
        color: aliceblue;
        padding: 5px 5px;
    }

    .menu-icon{
        display: block;
        cursor: pointer; 
    }

    .hide-mobile-menu{
        right: -280px
    }



}
  
@media (max-width: 1200px){
    .maincontainer{
        padding-left:5% ;
        padding-right:5% ;
    }
  }

@media (max-width:750px){
  .footer-content{
      display: flex;
      flex-direction: column;
      gap: 35px;
  }

  .footer-copyright{
      text-align: center;
  }


}


  


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  /* h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
   */
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }