:root {
    --primary-color: #053454;
    --secondary-color: #9ea6a2;
    --text-color: black;
}


.navbar {
    background: var(--primary-color);
    display: flex;
    
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: 500;
    border: 1px solid black; 

}

.navbar_container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    justify-content: space-evenly;

    /* padding-right: 150px; */

}

.name{
    color: whitesmoke;
    padding: 30px
}

.navbar_container:first-child{
    margin-right: auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.logo p{
    color: aquamarine;
}

.logo img{
   width: 50px;
} 


.navbar_menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.navbar_items {
    margin: 0 10px;
}



.navbar_links{
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-self: center;
    text-decoration: none;
    padding: 0 20px;
    height: 100%

}

.navbar_links:hover{
    color:rgb(95, 95, 238);
    transition: all 0.3s ease;
}

@media screen and (max-width: 860px) {
    
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 70px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        border: 1px solid black;

    }


    /* this styles here handles the invisibility of the navbar menu when the screensize goes into smaller screen  */
    .navbar_menu{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding-top: 10px;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 1.1s ease-in-out;
        height: 50vh;
        z-index: -1;
        background-color: black;
        border: 1px solid black;
       
    }

        /* the active classlist that was created by javascript is being styled here whenever is being clicked to appear*/
    .navbar_menu.active{
        background-color: rgb(17, 15, 15);
        top: 100%;
        opacity: 1;
        transition: all 0.9s ease-in-out;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
        transform: translate(-0%, -0%);
        background: rgba(255, 255, 255, 0.3); /* Semi-transparent background*/
        backdrop-filter: blur(10px); /* Apply blur effect */
        border-radius: 10px; /*Optional: rounded corners*/
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   

    }

    .navbar_menu a{
        color: rgb(16, 34, 16);
    }

    .logo{
        margin-left: 15px
    }


    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin : 5px auto;
        transition: all 0.7s ease-in-out;
        background-color: white;
       

    }

    .navbar_items{
        width: 100%;
        margin: -15px 0;
        
         
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        display: table;
        width: 100%;
        padding: 10px 0;
    
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer
    }

   #mobile_menu.is-active .bar:nth-child(2){
    opacity: 0;
   }

   #mobile_menu.is-active .bar:nth-child(1){
    transform: translatey(8px) rotate(45deg);
   }

   #mobile_menu.is-active .bar:nth-child(3){
    transform: translatey(-8px) rotate(-45deg);
   }
}

@media screen and (max-width: 400px) {
    .mobile_menu{
        width: 93%;
    }

    .logo p{
        font-size: 1rem;
    }
    .logo img{
        width: 45px;
    }
}

/* hero */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 65vh;
  border: 1px solid green;
  z-index: 10;
  
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 10px;
    padding: 0 20px;
    background-image: url(../images/heros.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}

.hero-image {
    width: 100%;   
}

.hero-image img {
    width: 100%;
    height: 365px;    
}

/* media query for hero */
@media (max-width:709px) {
    .hero {
        grid-template-columns: 1fr;
        height: 500px;
    }
}



/* footer css */
.footer {
    
    text-align: center;
    padding: 2px 15px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 15%
}

.footer-content-left img{
    width: 90px;
}


.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px

}

.footer-content-left, .footer-content-center, .footer-content-right{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.footer-content-left li, .footer-content-center li, .footer-content-right li{
   list-style: none;
   margin-bottom: 10px;
   cursor: pointer;

}

 .footer-content-center h2, .footer-content-right h2{
    font-family: "Playfair Display", serif;
    color: white;
    font-weight: 600;

}

.footer-social-icons img{
    width: 40px;
    margin-right: 13px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

@media (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-copyright{
        text-align: center;
    }


}


